<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        button {
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>Notes:</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notesList}">
        <td th:text="${note.id}"></td>
        <td th:text="${note.title}"></td>
        <td th:text="${note.content}"></td>
        <td>
            <form th:action="@{/note/edit}" method="get">
                <input type="hidden" name="id" th:value="${note.id}" />
                <button type="submit" class="edit-btn">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{/note/delete}" method="post">
                <input type="hidden" name="id" th:value="${note.id}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>